/*ARQUIVO CSS*/
body{
background:#FFFFFF
color black;
}

h1{
    color: #00f;
    font-size: 20px;
}

hr{
    color:brown;
}

h2{
    color: red;
}

p{
    font-size: 16px;
    margin-left: 20px;
    border: 1px solid gray;
}

a{
    padding-left: 40px;
    text-decoration: underline;
}

a:link {color: blue}
a:visited{color: gray}
a:hover{color: orange}
a:active{color:blue;}




